<h1><%=@recipe.name%></h1>
<h2>Recipe Ingredients: <%=@recipe.ingredients%></h2>
<h2>Cooking Time: <%=@recipe.cook_time%> minutes</h2>
<form class="" action="/recipes/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>