<form method="POST" action="/recipes">
    Recipe name:<br /><input type="text" name="name"><br /><br />
    Ingredients:<br />
    <input type="text" name="ingredients"><br /><br />
    Cook Time:<br />
    <input type="text" name="cook_time"><br />
    <input type="submit" name="submit">
</form>